:root {
  --clr-red: hsl(3, 65%, 51%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(255, 100%, 100%);
}

body {
  background-color: var(--clr-red);
  place-content: center;
  place-items: center;
}

/* = Globe  
 -------------------------------------------------------*/
.globe {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 40.9375rem;
  height: 46.375rem;
  transition: transform 0.25s ease;

  &.move {
    &--up {
      transform: translateY(-40px);
    }

    &--down {
      transform: translateY(40px);
    }

    &--left {
      transform: rotate(-30deg);
    }

    &--right {
      transform: rotate(30deg);
    }
  }

  .dome {
    overflow: hidden;
    position: relative;
    margin-bottom: -10px;
    width: 34rem;
    aspect-ratio: 1;
    border: 0.5rem solid var(--clr-black);
    border-radius: 50% 50% 5% 5%;
    background: linear-gradient(
      hsl(194, 88%, 54%),
      hsl(0, 0%, 100%),
      hsl(195, 83%, 82%)
    );
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1) inset;
    filter: drop-shadow(0 0.625rem 0 rgba(0, 0, 0, 0.1));
  }
}

.snow__drift {
  &--foreground,
  &--background {
    position: absolute;
    background: rgb(235, 225, 225);
    height: 5rem;
  }

  &--foreground {
    bottom: 0px;
    left: 8px;
    width: 60%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 7%;
    z-index: 1;
    box-shadow: inset 0px 5px 20px 20px rgba(255, 255, 255, 1);
  }

  &--background {
    bottom: 8px;
    right: 8px;
    width: 40%;
    border-top-left-radius: 100%;
    box-shadow: inset 0px 5px 20px 20px rgba(255, 255, 255, 1);
  }
}

/* = Dome Frame 
 -------------------------------------------------------*/
.frame {
  margin-block-start: -45px;
  display: grid;
  grid-template-rows: 7.375rem auto 1.125rem;
  width: 100%;
  height: 12.5rem;
  border-radius: 40% 40% 0% 0%;
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #603813 50%,
    #603813 88%,
    #000000 88%,
    #000000 92%,
    #f5bf39 92%
  );
  z-index: -1;
  border: 0.5rem solid var(--clr-black);

  &__snow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: end;

    &--cap {
      width: 100%;
      height: 40px;
      background: #fff;
      border-top-width: 0;
      border-radius: 100% 0% 80% 80% / 0% 0% 100% 100%;
      filter: drop-shadow(0px 5px 0px #000);
    }
  }

  &__inscription {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
    place-items: center;
    place-content: center;
  }
}
